@import '../css/animation.css';

.info-lager-1 {
	animation-name: infoLager_1;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.info-restore-1 {
	animation-name: infoRestore_1;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.info-lager-2 {
	animation-name: infoLager_2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.info-restore-2 {
	animation-name: infoRestore_2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.info-lager-3 {
	animation-name: infoLager_3;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.info-restore-3 {
	animation-name: infoRestore_3;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.head-info-1 {
	background-color: #bd6d23;  
	width: 24%;
	height: 320px;
	border-radius: 5px;
}
  
  
.head-info-1, .head-info-2, .head-info-3 {
	cursor: pointer;
}

.head-info-2 {
	background-color: #275783;  
	width: 48%;
	height: 320px;
	border-radius: 5px;  
}

.head-info-3 {
	background-color: #27862a;  
	width: 24%;
	height: 320px;
	border-radius: 5px;  
}
  