
.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  height: 60px;
  color: #ddd;
}
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: text-top;
  padding-right: 5px;
}
.icon-home {
  background: url('/vector.png') no-repeat -41px -59px;
  background-size: 543px 1746px;
}
.icon-member {
  background: url('/vector.png') no-repeat -444px -966px;
  background-size: 543px 1746px;
}
.icon-course {
  background: url('/vector.png') no-repeat -243px -1074px;
  background-size: 543px 1746px;
}

.App-title {
  display: inline-block;
  letter-spacing: 0.5em;
}

.App-login {
  margin-right: 20px;
  font-size: 20px;
}
/* --------------------------- main --------------------------------- */
.App-intro {
  text-align: center;
}

.intro-head {
  background-color: #2f363d;
  height: 350px;
  color: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro-main {
  background-color: rgb(242, 242, 243);
  display: flex;
  justify-content: space-between;
}

.main-info {
  width: 30%;
  height: 300px;
  margin-left: 10%;
}
.main-support {
  width: 30%;
  height: 300px;
  margin-right: 10%;  
}
/* ------------------------------------------------------------- */
.App-footer {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
